<div id="feed-page">
  <app-top-bar></app-top-bar>
  <div class="content">

    @if (feed) {
      @if (isPhone$ | async) {

        <div class="button-row-phone">
          <button mat-flat-button routerLink="/create-post" class="creation-button">Créer un article</button>
        </div>
        <mat-nav-list>
          @for (post of feed.feed; track $index) {
            <mat-list-item lines="3" [routerLink]="['post-details', post.id]" class="item">
              <span matListItemTitle class="item-title">{{ post.title }}</span>
              <span matListItemLine class="flex-row">
                <span>{{ post.updated_at | date:'dd/MM/YYYY' }}</span>
                <span>{{ post.author }}</span>
              </span>
              <span>{{ post.content }}</span>
            </mat-list-item>
          }
        </mat-nav-list>

      } @else {

        <div>
          <button mat-flat-button routerLink="/create-post" class="creation-button">Créer un article</button>
        </div>
        <mat-grid-list cols="2" rowHeight="230px">
          @for (post of feed.feed; track $index) {
            <mat-grid-tile>
              <div [routerLink]="['post-details', post.id]" class="card">
                <div class="card-title">
                  {{ post.title }}
                </div>
                <div class="flex-row">
                  <span>{{ post.updated_at | date:'dd/MM/YYYY' }}</span>
                  <span>{{ post.author }}</span>
                </div>
                <div class="card-content">{{ post.content }}</div>
              </div>
            </mat-grid-tile>
          }
        </mat-grid-list>
      }
    }
  </div>
</div>
