<div id="feed-page">
  <app-top-bar></app-top-bar>
  <div class="content">

    @if (feed) {
      <div class="{{(isPhone$ | async) ? 'center': 'right' }}">
        <button mat-flat-button routerLink="/create-post" class="creation-button">Créer un article</button>
      </div>
        <mat-grid-list cols="{{ (isPhone$ | async) ? 1 : 2 }}" rowHeight="180px" gutterSize="40px">

        @for (post of feed.feed; track $index) {
          <mat-grid-tile>
            <div [routerLink]="['post-details', post.id]" class="card">
              <div class="card-title">
                {{ post.title }}
              </div>
              <div class="flex-row">
                <span>{{ post.updated_at | date:'dd/MM/YYYY' }}</span>
                <span>{{ post.author }}</span>
              </div>
              <div class="card-content">{{ post.content | shorten:(isPhone$ | async) ? 110 : 180 }}</div>
            </div>
          </mat-grid-tile>
        }
      </mat-grid-list>
    }
  </div>
</div>
