.form-card fieldset {
  border: none;
}

.form-card legend {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

mat-form-field {
  width: 250px;
}

.form-buttons {
  margin: auto;
  text-align: center;
}

.form-buttons button {
  border-radius: 5px;
  width: 139px;
  height: 40px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.error {
  margin-top: 0.5em;
}

