<app-top-bar></app-top-bar>
<div id="login-page">

  <form [formGroup]="loginForm" class="form-card">
    <fieldset>
      <mat-grid-list cols="1" rowHeight="6em">

        <mat-grid-tile>
          <legend>
            Se connecter
          </legend>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="form-group">
            <div class="form-group-label">
              <label for="login">E-mail ou nom d’utilisateur</label>
            </div>
            <div class="form-group-field">
              <mat-form-field>
                <input matInput id="login" formControlName="login">
              </mat-form-field>
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="form-group">
            <div class="form-group-label">
              <label for="password">Mot de passe</label>
            </div>
            <div class="form-group-field">
              <mat-form-field>
                <input matInput id="password" type="password" formControlName="password">
              </mat-form-field>
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="form-buttons">
            <button mat-flat-button type="submit" (click)="onConnect()" [disabled]="loginForm.invalid">
              Se connecter
            </button>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </fieldset>
  </form>

</div>
