#not-logged {
  margin: 1em 22px;

  a {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
  }

  header {
    margin: 0 auto;
    text-align: center;
  }
}
.spacer {
  flex: 1 1 auto;
}

#desktop-toolbar {
  margin: 6px 22px 6px 0;

  .text-link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #6C5CCF;
  }

  .icon-link {
    margin: 0 1rem;

    * {
      border-radius: 100%;
    }
  }
}
