<div id="register-page">
  <app-top-bar></app-top-bar>
  <div class="content">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend> Inscription</legend>
        <div class="form-group">
          <div class="form-group-label">
            <label for="username">Nom d'utilisateur</label>
          </div>
          <div class="form-group-field">
            <mat-form-field>
              <input matInput id="username" formControlName="username">
              <mat-error>{{ getErrorMessage(registerForm.controls['username']) }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-label">
            <label for="email">Adresse e-mail</label>
          </div>
          <div class="form-group-field">
            <mat-form-field>
              <input matInput id="email" formControlName="email">
              <mat-error>{{ getErrorMessage(registerForm.controls['email']) }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-label">
            <label for="password">Mot de passe</label>
          </div>
          <div class="form-group-field">
            <mat-form-field>
              <input matInput id="password" [type]="hide ? 'password' : 'text'" formControlName="password">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error>{{ getErrorMessage(registerForm.controls['password']) }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-buttons">
          <div>
            <button mat-flat-button type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
